<h1>Cart</h1>

{{! корневой див по которому будем добавлять обработчик событий }}
<div id='card'>

  {{#if courses.length}}
    {{! если есть длинна покажем контент }}
    <table>
      <thead>
        <tr>
          <th>Course name</th>
          <th>Count</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{! итерируем массив курсов и выводим данные в поля}}
        {{#each courses}}
          <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td>
              {{! добавляем класс и дата атрибут data-id для определения id удаления }}
              <button
                class='btn btn-small js-remove'
                data-id='{{id}}'
                data-csrf='{{@root.csrf}}'
              >Delete</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <p><strong>Price: </strong><span class='price'>{{price}}</span></p>

    <form action='/orders' method='post'>
      <input type='hidden' name='_csrf' value='{{csrf}}' />
      <button type='submit' class='btn'>Confirm order</button>
    </form>

  {{else}}
    {{! иначе сообщ - корзина пуста }}
    <p>Cart is empty</p>
  {{/if}}
</div>